.movie-detail{
  background-color: #252323eb;
  width: 55rem;
  height: 45rem;
  margin: 1rem 23rem;
  color: rgba(228, 236, 236, 0.954);
}

.btnback{
  background-color: rgba(21, 20, 20, 0.847);
  color: rgb(178, 48, 48);
  width: 5rem;
  float: left;
}

.tdy{
  margin-top: -27rem;
  padding-left: 20rem;
  margin-bottom: 18rem;
}

.img {
  padding-left: 0.5rem;
}

/* .detailtitle{
  margin-top: -450px;
  padding-left: 200px;
} */
